<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <elgentos>
            <imgix>
                <enabled>0</enabled>
                <default_options><![CDATA[fit=fillmax&fill=solid&fill-color=ffffff&w=500&h=500&auto=compress&auto=format]]></default_options>
                <autocomplete_options><![CDATA[fit=fillmax&fill=solid&fill-color=ffffff&w=50&h=50&auto=compress&auto=format]]></autocomplete_options>
            </imgix>
        </elgentos>
    </default>
</config>
