<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="imgproxy_add_images_to_gallery" type="Elgentos\Imgproxy\Plugin\AddImagesToGalleryBlock" />
    </type>
    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="imgproxy_after_get_image_url_plugin" type="Elgentos\Imgproxy\Plugin\AfterGetImageUrl"/>
    </type>
    <type name="Magento\Search\Model\Autocomplete">
        <plugin name="imgproxy_after_search_ajax_suggest" type="Elgentos\Imgproxy\Plugin\Search\Autocomplete"/>
    </type>
</config>
